@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --green: #1f3a3a;
}
.bg-green {
  background-color: var(--green);
}

.text-green {
  color: var(--green);
}

a {
  text-decoration: underline;
  color: var(--green);
}

h1 {
  /* font-family: "ro" */
}

.hero {
  height: calc(100vh - 112px);
}

main {
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
}
