@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Kollektif";
  src: url("/fonts/Kollektif/Kollektif.ttf") format("ttf");
  font-style: normal;
  font-display: swap;
}

:root {
  --dark-green: #1f3a3a;
  --green: #427064;
  --light-green: #698583;
  --black: #1d2b31;
  --white: #f6f4f0;

  --dark-amber: #c78c43;
  --amber: #e0a44f;
}

a {
  text-decoration: underline;
  color: var(--dark-green);
}

p {
  @apply leading-6;
  @apply pt-4;
}

h1,
h2,
h3 {
  font-family: "Kollektif", sans-serif;
  font-weight: normal;
}

.hero {
  height: calc(100vh - 112px);
}

main {
  scroll-snap-type: y mandatory;
}
section {
  scroll-snap-align: start;
}

.smallcaps {
  font-variant: small-caps;
}

.section {
  max-height: 400px;
}
